.transHeader {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

---
.table {
float: right;
margin: 4%;
background-color: aliceblue;
}

.subtitle {
color: white;
margin: 2%;
justify-self: right;
}


.image {
float: right;
margin: 2%;
}

.mi-encabezado {
    background-image: url('ruta/a/tu/imagen.jpg');
    
    /* Otras propiedades de fondo si son necesarias */
}

.contenedor-centrado {
    display: flex; /* Habilita Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 150px; /* Asegura que el contenedor tenga altura para el centrado vertical */
}


.headingBackground {
    background-image: url('ruta/a/tu/imagen.jpg');
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 20px; /* Añade espacio para que el texto no toque los bordes */
}
.start {
background-image:url(images/firstBackground.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
min-height: 80vh;
}

h1 {
font-size: 80px;
justify-self: right;
color: white;
}


.menu {
text-align: center;
}

.second {
background-color: azure;
}