body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.02);
}
.landingMain {
    background-image: url(images/firstBackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white; 
    text-align: center;
    padding-top: 200px
}

.transHeader {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.02);
    z-index: 1;
}

.navHorizontal {
    list-style: none;
    padding: 0;
    padding: 5px 0;
    margin: 0;
    text-align: center;
}

.navHorizontal li {
    display: inline-block;
    margin: 0 20px;
}

.navHorizontal li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    display: block;
}

.navHorizontal li a:hover {
    color: lightgray;
}

h1 {
    font-size: 900%;
    line-height: 0
}
h3 {
    line-height: 0;
    font-size: 150%;
}


.secondType {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(0, 16, 29);
    color: white;
}

h2 {
font-size: 200%;
}

.text {
    margin: 40px;
    margin-left: 70px;
}

.table {
    margin: 30px;
    padding: 20px;
    background-color: rgb(255, 177, 54);
    border-radius: 15px;
    border-collapse: separate;
    border-spacing: 15px;
    color: black;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

.containerGallery {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 23%;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 177, 54);
    border-radius: 10px;
    list-style: none;
    text-align: center;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

.bigComment {
    padding: 50px;
    border-radius: 10px;
    margin: 60px;
    justify-items: center;
    background-image: url(images/Gemini_Generated_Image_cmutw4cmutw4c.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
    opacity: 0.5;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}



.landingMain {
    background-image: url(images/firstBackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    color: white; 
    text-align: center;
    padding-top: 200px
}

.map {
    width: 30%;
    padding-right: 20px;
}

.flag {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    padding-top: 20px;
}

.flag h3 {
    font-size: 400%;
}

.flag img {
    width: 100px;
}