.main-header {
    /* Fondo transparente o semi-transparente */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparente (negro con 50% de opacidad) */
    width: 100%;
    position: absolute; /* Superpone el header al contenido siguiente */
    top: 0;
    left: 0;
    z-index: 10; /* Asegura que esté por encima de otros elementos */
    padding: 10px 0;
}

.header-container {
    display: flex; /* Habilita Flexbox para los elementos internos */
    justify-content: space-between; /* Distribuye el logo a la izquierda y la navegación a la derecha */
    align-items: center; /* Centra verticalmente los elementos */
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 0 20px;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Habilita Flexbox para los enlaces de navegación */
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.hero-section {
    /* Sección detrás del header, con suficiente padding superior para que el contenido no quede oculto */
    padding-top: 100px; /* Ajusta este valor según la altura de tu header */
    height: 100vh;
    background-image: url('images/firstBackground2.jpg'); /* Añade una imagen de fondo para ver el efecto */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}